:root {
	/*COLORS*/
	--color-primary: #1CE8C4;
	--color-primary-light: #1DF5CD;
	--color-primary-dark: #14A88D;


	--color-secondary: #FF6A00;
	--color-secondary-light: #FF9E00;
	--color-secondary-dark: #994000;

	--color-white: #fff;
	--color-white-dark: #fafafa;

	--color-grey: #eee;

	--color-grey-light-1: #ededed;
	--color-grey-light-2: #e0e0e0;
	--color-grey-light-3: #c7c7c7;


	--color-grey-dark-1: #7A7A7A;
	--color-grey-dark-2: #6E6E6E;
	--color-grey-dark-3: #545454;

	/*GRID*/
	--grid-width: 114rem;
	--gutter-horizontal: 3rem;

	/*SHADOW*/
	--default-shadow: 0rem 1rem 1rem 0rem rgba(14,14,14,0.3);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	padding: 3rem;
	font-family: "Heebo", sans-serif;
	-webkit-background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	background-size: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
	max-width: 100%;
}

div {
	display: flex;
	flex-direction: column;
	/*max-width: 100%;*/
}

form {
	list-style: none;
}

button:hover {
	box-shadow: 0rem 1rem 1rem 0rem rgba(179,76,0,0.3);
}

.clearfix::after {
	/* append a pseudo element after the element which will then clear these floats */
		content: "";
		/*content here is mandatory and since we don't want to show the overlaps the property is empty or ""*/
		display: table;
		clear: both;
}


#spinnerContainer {
	display: flex;
	margin: 0 auto;
}

.spinnerText {
	color: var(--color-grey);
	font-family: "Heebo", sans-serif;
	font-size: 1.5rem;
}

.spinner {
	display: flex;
	margin: 0 auto;
	margin-bottom: 1rem;
}

#titleContainer {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

#headerDiv {
	margin: 1rem, 0rem, 1rem, 0rem;
}

.appTitle {
	margin-bottom: 3rem;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: 700;
	color: var(--color-secondary-dark);
	margin: 2rem;
	font-size: 6rem;
	text-align: center;
}

.headerSubTitle {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	text-align: center;
}

.dashTitle {
	margin: 1.5rem;
}

.dash {
	display: block;
}

#dashboardFieldContainer {
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*.dashboardFieldContainer {
	border: 3px solid red;
	max-width: 100%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}*/

.dashboardField {
	margin: 0 auto;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	max-width: 100%;
	border-radius: 6px;
	position: relative;
	transition: 0.3s all;
	border: 2px solid var(--color-secondary-dark);
	font-size: 3.2rem;
	text-align: center;
}

.dashboardField:hover {
	background-color: var(--color-secondary-dark);
	border: 2px solid var(--color-secondary-light);
}

.dashSubTitle {
	margin: 1rem;
}

#collapsibleContainer {
	margin: 0 auto;
	justify-content: center;
	max-width: 50%;
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	font-weight: 500;
	font-size: 3.2rem;
}

.collapsible {
	display: flex;
	margin: 1.5rem 0;
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	font-weight: 500;
	font-size: 3.2rem;
	border-radius: 6px;
	border: 3px solid var(--color-secondary-dark);
	background-color: var(--color-grey-light-3);
}

.collapsible:hover {
	color: var(--color-secondary);
	box-shadow: var(--default-shadow);
	background-color: var(--color-grey-dark-1);
	border: 3px solid var(--color-secondary);
}

.collapsible p {
	text-align: center;
	font-size: 1.6rem;
	color: var(--color-secondary);
	margin: 0 auto;
}

.collapsible span {	
	margin: 0 auto;
}

.field {
	background-color: var(--color-primary-light);
	color: var(--color-secondary);
	width: stretch;
	height: 5.6rem;
	border-radius: 6px;
	position: relative;
	transition: 0.3s all;
	border: 2px solid var(--color-secondary-light);
	font-size: 3.2rem;
	text-align: center;
}

.field:hover {

}

.form {
	color: var(--color-secondary);
	font-weight: 500;
}

.form ul {
	color: var(--color-secondary);
	font-size: 2rem;
}

.userStoryContainer {
	display: flex;
	margin: 0 auto;
	font-family: "Heebo", sans-serif;
	justify-content: center;
	max-width: 50%;
	text-align: center;
	font-weight: 500;
	font-size: 1.5rem;
}

#userStoryPTag {
	text-align: justify;
	width: 60rem;
	color: var(--color-secondary-dark);
	padding: 1rem 2.5rem;
	font-size: 1.5rem;
}

.title {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary-dark);
	font-weight: 800;
	font-size: 3.2rem;
	text-align: center;
	border-radius: 6px;
}

.subTitle {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	text-align: center;
}

.list-subtitle {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary-dark);
	text-align: left;
	font-size: 3rem;
}

.field:hover {
  background-color: var(--color-white);
  box-shadow: var(--default-shadow);
}

.row {
	display: flex;
	height: 33vh;
	max-width: var(--grid-width);
	margin: 0 auto;
	margin-left: 20rem;
}

[class^="col-"] { 
	margin-right: var(--gutter-horizontal);
	float: right;
}

[class^="col-"]:not(:last-child) {
	margin-bottom: var(--gutter-horizontal);
}


.col-1-of-3 {
	width: calc((100% - 2 * var(--gutter-horizontal)) / 3);
	float: right;
	margin-left: 5rem;
}

.col-2-of-3 {
	width: calc( 2 * ((100% - 2 * var(--gutter-horizontal)) / 3) + var(--gutter-horizontal));
	margin-left: 10rem;
}

.listBtn {
	color: var(--color-secondary);
	background-color: var(--color-grey-light-3);
	height: min-content;
	max-width: 20%;
	line-height: 3.5rem;
	border: thick double var(--color-secondary-dark);
	border-radius: 5px;
	padding: .3rem;
	background-color: var(--color-primary-light);
}

.listBtn:hover {
	transform: translateY(-.5rem);
	box-shadow: var(--default-shadow);
	background-color: var(--color-grey-light-3);

}

.ul-subitems * {
	color: var(--color-grey-light-3);
	font-size: 1.6rem;
	text-decoration: none;
}

.lnbButtonContainer {
	margin: 1rem 1rem;
	max-width: 100%;
}

.lnbButton {
	display: flex;
	color: var(--color-grey-light-3);
	background-color: var(--color-secondary-dark);
	border-radius: 6px;
	border: 3px solid var(--color-secondary);
	margin: 0 auto;
	max-width: 50%;
	justify-content: center;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: 700;
}

.lnbButton:hover {
	color: var(--color-secondary-dark);
	background-color: var(--color-primary-dark);
	border: 3px solid var(--color-grey-light-3);
}

.closeListBtn {
	color: var(--color-secondary);
	background-color: var(--color-grey-light-3);
	height: min-content;
	max-width: 50%;
	line-height: 3.5rem;
	border: thick double var(--color-secondary-dark);
	border-radius: 5px;
	padding: .3rem;
	background-color: var(--color-primary-light);
}

.info-window {
	width: 20rem;
	height: 10rem;
	background-color: var(--color-white-dark);
}

#restaurant-comment-container {
	display: flex;
	flex-direction: row;
}

 .hvr-grow {
 	vertical-align: middle;
 	-webkit-transform: perspective(1px) translateZ(0);
 	transform: perspective(1px) translateZ(0);
 	box-shadow: 0 0 1px rgba(0,0,0,0);
 	-webkit-transition-duration: .3s;
 	transition-duration: .3s;
 	-webkit-transition-property: transform;
 	transition-property: transform;
 }

