:root {
	--color-primary: #1CE8C4;
	--color-primary-light: #1DF5CD;
	--color-primary-dark: #14A88D;


	--color-secondary: #FF6A00;
	--color-secondary-light: #FF9E00;
	--color-secondary-dark: #994000;

	--color-white: #fff;
	--color-white-dark: #fafafa;

	--color-grey: #eee;

	--color-grey-light-1: #ededed;
	--color-grey-light-2: #e0e0e0;
	--color-grey-light-3: #c7c7c7;


	--color-grey-dark-1: #7A7A7A;
	--color-grey-dark-2: #6E6E6E;
	--color-grey-dark-3: #545454;

	--grid-width: 114rem;

	--default-shadow: 0rem 1rem 1rem 0rem rgba(14,14,14,0.3);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	padding: 3rem;
	font-family: "Heebo", sans-serif;
	-webkit-background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
	height: min-content;
	/*width: 100%;*/
	max-width: 100%;
}

div {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}

form {
	list-style: none;
}

button:hover {
	box-shadow: 0rem 1rem 1rem 0rem rgba(179,76,0,0.3);
}


#spinnerContainer {
	display: flex;
	margin: 0 auto;
}

#spinnerContainer h3 {
	color: var(--color-grey);
	font-family: "Heebo", sans-serif;
	font-size: 1.5rem;
}

.spinner {
	display: flex;
	margin: 0 auto;
	margin-bottom: 1rem;
}

#titleContainer {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

#headerDiv {
	margin: 1rem, 0rem, 1rem, 0rem;
}

.appTitle {
	margin-bottom: 3rem;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: 700;
	color: var(--color-secondary-dark);
	margin: 2rem;
	font-size: 6rem;
	text-align: center;
}

.headerSubTitle {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	text-align: center;
}

.logDiv {
	margin: 1rem, 0rem, 1rem, 0rem;
}

.regDiv {
	margin: 1rem, 0rem, 1rem, 0rem;
}

.dashTitle {
	margin: 1.5rem;
}


.dashboardFieldContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 1rem 0;
}


.dashboardField {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	border-radius: 6px;
	position: relative;
	transition: 0.3s all;
	border: 2px solid var(--color-secondary-dark);
	font-size: 3.2rem;
	text-align: center;
}

.dashboardField:hover {
	background-color: var(--color-secondary-dark);
	border: 2px solid var(--color-secondary-light);
}

.dashSubTitle {
	margin: 1rem;
}

#centerDash button {
	margin: auto;
}

#collapsibleContainer {
	display: flex;
	align-content: center;
}

.collapsible {
	margin: 1.5rem 0;
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	font-weight: 500;
	font-size: 3.2rem;
	border-radius: 6px;
}

.collapsible p {
	text-align: center;
	font-size: 1.6rem;
	color: var(--color-secondary);
	margin: 0 auto;
}

.collapsible:hover {
	color: var(--color-secondary-light);
}


.header{
	text-align: center;
}

#cardWrapper {
	background-color: var(--color-grey-light-3);
}

.field {
	background-color: var(--color-primary-light);
	color: var(--color-secondary);
	width: stretch;
	height: 5.6rem;
	border-radius: 6px;
	position: relative;
	transition: 0.3s all;
	border: 2px solid var(--color-secondary-light);
	font-size: 3.2rem;
	text-align: center;
}

.form {
	color: var(--color-secondary);
	font-weight: 500;
}

.form ul {
	color: var(--color-secondary);
	font-size: 2rem;
}

.userStoryContainer {
	display: flex;
	font-family: "Heebo", sans-serif;
	text-align: center;
	font-weight: 500;
}

#userStoryPTag {
	text-align: justify;
	width: 60rem;
	color: var(--color-gray-dark-2);
	padding: 1rem 2.5rem;
}

.title {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary-dark);
	font-weight: 800;
	font-size: 3.2rem;
	text-align: center;
	border-radius: 6px;
}

.subTitle {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary);
	text-align: center;
}

.list-subtitle {
	font-family: "Heebo", sans-serif;
	color: var(--color-secondary-dark);
	text-align: left;
	font-size: 3rem;
}

.field:hover {
  background-color: var(--color-white);
  box-shadow: var(--default-shadow);
}

.lateListTitle {
	margin: 3rem;
}

.ul-subitems h3 {
}

.ul-subitems * {
	color: var(--color-grey-light-3);
	font-size: 1.6rem;
	text-align: flex-start;
	text-decoration: none;
}

#bottomE {
	margin: 3rem;
}

.lnbButtonContainer {
	display: flex;
}

.lnbButton {
	margin: 0 auto;
}

.info-window {
	width: 20rem;
	height: 10rem;
	background-color: var(--color-white-dark);
}